use.board {
	pointer-events:none;
	fill: #D1A131;
	stroke: white;
	stroke-width: .05;
}

use.on {
	fill: #0d0;
	stroke: white;
	stroke-width: .05;
}

use.off {
	display: none;
}

use.back {
	fill: #080;
	stroke: white;
	fill-opacity: .33;
	stroke-width: .05;

}

use.piece {
	pointer-events:none;
	fill: #Eace4a;
	stroke:none;
	transition: all 0.75s ease;
}

text.piece {
	pointer-events:none;
	text-anchor: middle;
	font-size: 4.5%;
	baseline-shift: -4%;
	font-family:KaiTi;
	font-weight:bold;
	text-align:center;
}

text.king {
	pointer-events:none;
	text-anchor: middle;
	font-size: 5.5%;
	baseline-shift: -5%;
	font-family:KaiTi;
	font-weight:bold;
	text-align:center;
}

body,html {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}